@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #4A70A9;
    --font-ubuntu: 'Ubuntu', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
}

@layer base {
    body {
        font-family: var(--font-ubuntu);
        background-color: var(--color-black);
        color: var(--color-white);
        font-size: smaller;
        font-weight: 500;
    }
    h1{
        /* color: var(--color-black); */
        font-family: var(--font-roboto);
        font-weight: 700;
        font-size: 3rem;
    }
    h2{
        /* color: var(--color-black); */
        font-family: var(--font-roboto);
        font-weight: 600;
        font-size: 2.5rem !important;
    }
    h3{
        /* color: var(--color-black); */
        font-family: var(--font-roboto);
        font-weight: 600;
        font-size: 1.8rem;
    }
    h4{
        /* color: var(--color-black); */
        font-family: var(--font-roboto);
        font-weight: 600;
        font-size: 1.4rem;
    }
    h5{
        font-family: var(--font-roboto);
        /* color: var(--color-black); */
        font-weight: 600;
        font-size: 1.2rem;
    }
}